<html>
  <head>
    <meta content="text/html"; charset="utf-8" http-equiv="content-type" />
  </head>
  <body>
    <h1>You are now following "<%= @post.title %>", you will be notified of all comments. If you do not wish to receive futher notification,
      unfavorite your <%= link_to "post", topic_post_url(@post.topic, @post) %>.</h1>
    <p>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
